[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/jcf/vim-latex.git
[submodule "DBGp-Remote-Debugger-Interface"]
	path = DBGp-Remote-Debugger-Interface
	url = https://github.com/vim-scripts/DBGp-Remote-Debugger-Interface.git
[submodule "bundle/dbgp"]
	path = bundle/dbgp
	url = https://github.com/vim-scripts/DBGp-Remote-Debugger-Interface.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/racket-vim"]
	path = bundle/racket-vim
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundle/rainbowp"]
	path = bundle/rainbowp
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/syntastic_scroolose"]
	path = bundle/syntastic_scroolose
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/xdebug"]
	path = bundle/xdebug
	url = https://github.com/vim-scripts/Xdebug.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/pytest"]
	path = bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim
[submodule "bundle/py-coverage"]
	path = bundle/py-coverage
	url = https://github.com/vim-scripts/py-coverage.git
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "gundo.vim"]
	path = gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/phpctags"]
	path = bundle/phpctags
	url = https://github.com/vim-php/phpctags.git
[submodule "bundle/tagbar-phpctags"]
	path = bundle/tagbar-phpctags
	url = https://github.com/vim-php/tagbar-phpctags.vim.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/vim.misc"]
	path = bundle/vim.misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/DBGPavim"]
	path = bundle/DBGPavim
	url = https://github.com/brookhong/DBGPavim.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/mark"]
	path = bundle/mark
	url = https://github.com/vim-scripts/Mark--Karkat.git
