[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-scripts/Syntastic.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/klen/rope-vim.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/jcf/vim-latex.git
[submodule "DBGp-Remote-Debugger-Interface"]
	path = DBGp-Remote-Debugger-Interface
	url = https://github.com/vim-scripts/DBGp-Remote-Debugger-Interface.git
[submodule "bundle/dbgp"]
	path = bundle/dbgp
	url = https://github.com/vim-scripts/DBGp-Remote-Debugger-Interface.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/QFixToggle"]
	path = bundle/QFixToggle
	url = https://github.com/vim-scripts/QFixToggle.git
[submodule "bundle/vim-togglelist"]
	path = bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
